@media screen and (max-width: 768px) {
    nav.bottom-bar {
        position: fixed;
        bottom: 0; left: 0;

        display: flex;
        align-items: center;

        width: 100%;
        height: 80px;
        background-color: var(--bw-tone-1);

        & ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            width: 100%; height: 100%;
            margin: 0; padding: 0;
        }

        & li {
            list-style: none;
        }

        & li a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            color: var(--bw-tone-5);
        }

        & li a svg {
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--bw-tone-5);
        }
    }

    nav.tabs {
        & ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;


            width: 100%;
            margin: 0; padding: 1em 0;
            overflow-x: scroll;
        }

        & li {
            list-style: none;
            background-color: var(--bw-tone-4);

            width: auto;
            margin: 0 5px;
            padding: 5px 10px;
            border-radius: 2em;

            & a {
                color: white;
            }
        }
    }
}